name: Build Kernel gki 5.10

on:
  workflow_call:
    inputs:
      KERNEL_VERSION:
        required: true
        type: string
      KSU:
        required: true
        type: string
      KSU_SUSFS:
        required: true
        type: string
      LAST_BUILD:
        required: true
        type: string
      KSU_MANUAL_HOOK:
        required: true
        type: string
      TODO:
        required: true
        type: string
      STATUS:
        required: false
        type: string
        default: "RELEASE"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup Environment
        run: |
          echo "MAN_DISABLE=true" >> $GITHUB_ENV
          echo "DEBIAN_FRONTEND=noninteractive" >> $GITHUB_ENV
          sudo apt-get update
          sudo apt-get install -y git wget curl python3 python3-pip bc bison flex build-essential zip libc6-dev libncurses5-dev libssl-dev liblz4-tool ccache 

      - name: Run Build Script
        env:
          KSU: ${{ inputs.KSU }}
          KSU_SUSFS: ${{ inputs.KSU_SUSFS }}
          LAST_BUILD: ${{ inputs.LAST_BUILD }}
          KSU_MANUAL_HOOK: ${{ inputs.KSU_MANUAL_HOOK }}
          TODO: ${{ inputs.TODO }}
          STATUS: ${{ inputs.STATUS }}
          KERNEL_VERSION: ${{ inputs.KERNEL_VERSION }}
        run: |
          export KSU
          export KSU_SUSFS
          export LAST_BUILD
          export KSU_MANUAL_HOOK
          export TODO
          export STATUS
          export KERNEL_VERSION
          
          bash build.sh

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          # --- BAGIAN YANG DIPERBAIKI ---
          # Nama artifact sekarang DINAMIS berdasarkan input, bukan 'info-10' lagi
          name: info-${{ inputs.KERNEL_VERSION }}-${{ inputs.KSU }}-susfs-${{ inputs.KSU_SUSFS }}
          # -----------------------------
          path: artifacts/*.txt
          if-no-files-found: warn
          compression-level: 6
          overwrite: false
          include-hidden-files: false
